html {
  height: 100%;
  font-family: "Helvetica Neue", "News Cycle", helvetica, arial, sans-serif;
}

body {
  background-image: url("../images/bg.png");
  background-color: #fff;
  color: #333;

  margin: 0;
  height: 100%;
}

a {
  color: #ca1a69;
  text-decoration: none;
}

.stream {
  background-color: rgba(255, 255, 255, 1.0);
  width: 700px;
  height: 100%;
  float: right;
  margin: 0 100px;
  padding: 0;

  border-left: 6px solid rgba(200, 200, 200, 0.8);
  border-right: 6px solid rgba(200, 200, 200, 0.8);
}

.item {
  overflow: auto;
  padding: 20px 20px;
  margin: 20px 0px 20px -80px;
  font-size: 32px;
}

.right-content {
  overflow: auto;
}

.item .pic {
  float: left;
  margin-right: 10px;
  border: 6px solid #ffffff;
  border-radius: 6px;
  width: 150px;
  height: 150px;
  background-size: 100%;
  background-color: #eeefff;
}

.author .screen-name {
  font-weight: bold;
  color: #ca1a69;
  margin-right: 5px;
}

.author .author-name {
  color: #999999;
  font-size: 18px;
}

.item .text {
  color: #111111;
  overflow: hidden;
}

.item .details {
  color: #999999;
}

.hashtag {
  color: #ca1a69;
}
