html {
  height: 100%;
  font-family: "Helvetica Neue", "News Cycle", helvetica, arial, sans-serif;
}

body {
  background-image: url("../images/bg.png");
  background-color: #fff;
  color: #333;

  margin: 0;
  height: 100%;
}

a {
  color: #ca1a69;
  text-decoration: none;
}

.hashtag {
  color: #ff56a2;
}

.mention {
  color: #ff56a2;
}

.hashtag-symbol {
  color: #ffa8cf;
}

.mention-symbol {
  color: #ffa8cf;
}

/* 1920 - 1000 = 920 */
.stream {
  background-color: rgba(255, 255, 255, 1.0);
  width: 1200px;
  height: 100%;
  position: absolute;
  margin: 0 100px;
  margin-left: 360px;

  border-left: 6px solid rgba(200, 200, 200, 0.8);
  border-right: 6px solid rgba(200, 200, 200, 0.8);
}

.item {
  overflow: auto;
  padding: 20px 20px;
  margin: 40px 0px 40px -80px;
  font-size: 64px;
}

.item.hidden {
  display: none;
}

.right-content {
  overflow: auto;
}

.item .pic {
  float: left;
  margin-right: 20px;
  border: 6px solid #ffffff;
  border-radius: 6px;
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-color: #eeefff;
}

.author .screen-name {
  font-weight: bold;
  color: #ca1a69;
  margin-right: 5px;
}

.author .author-name {
  color: #999999;
  font-size: 38px;
}

.item .text {
  color: #111111;
  overflow: hidden;
}

.item .details {
  color: #999999;
}

#debug-bar {
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  color: transparent;
  padding: 5px;
}

#debug-bar a {
  color: transparent;
}

#debug-bar.mouseenter {
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 2px solid rgba(255, 255, 255, 1.0);
  border-right: 2px solid rgba(255, 255, 255, 1.0);
  border-radius: 0 0 6px 0;
}

#debug-bar.mouseenter a {
  color: #666;
}

#debug-bar span.button {
  padding: 0 10px;
}

.promo {
  z-index: 2;
  position: absolute;
  bottom: 0;

  background-color: rgba(255, 255, 255, 0.95);
  width: 1600px;
  /*margin-left: 260px;*/
  margin-left: -800px;
  left: 50%;

  padding: 0;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  -webkit-box-shadow: 15px -15px 40px #333;
  box-shadow: 15px -15px 40px #333;
}

.promo-item {
  overflow: auto;
  padding: 50px 50px;
  margin: 20px 0px 20px - 80px;

  font-size: 64px;
  text-align: center;
}

.promo-item .text {
  color: #111111;
  overflow: hidden;
}
